body {
    margin: 0px;
    background-image: url(images/splash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    
}

.restBody {
    background-image: url(images/apple-pie-6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.galBody {
    background-image: url(images/galleryback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.actBody {
    background-image: url(images/activitiesBack.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    max-height: 150px;
    padding-bottom: 5%;
}

#navbar {
    margin-left: 0;
}

#main {
    clear: both;
    margin-top: 300px;
}

#current {
    
}

.mainIndex {
     -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count:2;
    column-gap:20px; 
}